@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

.container {
  display: flex;
  position: absolute;
  background-color: aliceblue;
}

.mainContainer {
  align-items: center;
}

.main {
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 10vh;
  position: 'relative';
}

.image {
  opacity: 0.5;
}

.title {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 12vw;
  margin: 0;
  color: darkslategray;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px,
    rgba(0, 0, 0, 0.3) -1px -2px;
}
