.image {
  opacity: 0.4;
  position: fixed;
  top: 0;
}

.main {
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 10vh;
  position: 'relative';
}

.mainheading {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 12vw;
  text-align: right;
  position: sticky;
  top: 5vw;
  margin-right: 8vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: darkslategray;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px,
    rgba(0, 0, 0, 0.3) -1px -2px;
}

.subheading {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5vw;
  position: relative;
  top: -6.5vw;
  margin-right: 8vw;
  margin-bottom: 0;
  text-align: right;
  color: darkgreen;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px,
    rgba(0, 0, 0, 0.3) -1px -2px;
}

.openingpara {
  font-size: 3rem;
  font-size: clamp(1.6vw, 1.8vw, 2vw + 1rem);
  text-align: right;
  margin-right: 8vw;
  top: -6.5vw;
  position: relative;
}

.buttoncontainer {
  text-align: right;
  margin-right: 8vw;
}

.ctabutton {
  font-size: 1.5vw;
  top: -6.6vw;
  position: relative;
}

/* .footercontainer {
  margin-right: 8vw;
}

.footer {
  background-color: black;
  opacity: 0.5;
  text-align: right;
} */
